
.page-body-with-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
}

.loading-page-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-body-with-header main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.page-body-with-header .page-main-max-width-div {
  flex: 0 1 1024px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
